<h1>{{ title }}</h1>

<!-- <app-demo></app-demo> -->
<!-- <app-communication></app-communication> -->
<!-- <fruit-main></fruit-main> -->
<!--<app-canti></app-canti>-->
<app-login></app-login>

<!-- Insérer ici les composants du TP  -->
<!-- <app-switch></app-switch> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-virtualkb></app-virtualkb> -->

<!-- TP Jour 2 -->
<!-- <app-main></app-main> -->

<!-- TP Jour 3 -->
<!-- <app-player-manager></app-player-manager> -->

