<h2>Article List Component</h2>
<article *ngFor="let article of articles; let i=index">
    <h3>{{ i+1 }}. {{ article.name }}</h3>
    <span>{{ article.price }} EUR</span>
    <select (change)="onChange($event, article.price, i)">
        <option value="0">Quantité</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
</article>
