
<!-- property binding -->
<p [innerText]="paragraphText"></p>

<!-- sans binding
<img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/01_booktalk_wolves_0.jpg?w=800&h=450" alt="Loup bg" />
-->

<!-- avec binding -->
<img [src]="image.src" [alt]="image.alt" />

<!-- event binding -->
<button (click)="updateUI()">Update UI</button>

<!-- Insertion d'un composant enfant (child component) -->
<app-counter></app-counter>

<!-- Utilisation de la directive *ngFor -->
<p *ngFor="let student of students">{{ student }}</p>

<ul>
    <li 
        [ngStyle]="{'color': student.grade < 10 ? 'red' : 'black'}"
        *ngFor="let student of students2">
        {{ student.name }}
        <span *ngIf="student.grade > 14"> 
            (bon élève)
        </span>
    </li>
</ul>
