<div id="photoArea">

    <!-- zone flocage -->
    <div *ngIf="playerName && selectedIndex == 2" id="flockArea">
        <div>{{ playerNum }}</div>
        <div>{{ playerName }}</div>
    </div>

    <img [src]="images[selectedIndex]" />
    <div id="thumbs">
        <img
            (click)="selectImage(i)"
            *ngFor="let image of images; let i=index"
            [src]=image />
    </div>
</div>
