#photoArea  {
    position: relative;
}

#photoArea img {
    width: 500px;
    position: relative;
}

#photoArea #thumbs img {
    width: 75px
}

#photoArea, #settingsArea {
    float: left;
    padding: 4px
}

#flockArea {
    font-size: 18pt;
    position: absolute;
    left: 230px;
    top: 90px;
    z-index: 1
}