<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h5>Player Filters</h5>
            
            <app-player-filter
            class="mr-4" 
            (onChange)="filter($event)"
            key="position"
            ></app-player-filter>

            <app-player-filter 
            (onChange)=filter($event)
            key="teamid"
            ></app-player-filter>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-7">
            <h5>Player List</h5>
            <app-player-list 
            [players]="players" 
            (onDelete)="deletePlayer($event)"
            (onEdit)="editPlayer($event)"
        ></app-player-list>
        </div>
        <div class="col-5">
            <h5>Player Form</h5>
            <app-player-form 
            (onSave)="loadPlayers()"
            [player]="player"
            [editMode]="editMode"
        ></app-player-form>
        </div>
    </div>
</div>








