<h2>Fruit Main Component</h2>

<!-- formulaire d'ajout de fruit -->
<div>
    <input (keyup)="onKeyup($event)" type="text" placeholder="Nom du fruit" />
    <button (click)="save()">Enregistrer</button>
</div>

<p *ngFor="let fruit of fruits">
    {{ fruit.name }} ({{ fruit.like }} likes)
</p>
