<div *ngIf="player">
    <div class="form-group">
        <input type="text" placeholder="Nom"
        [(ngModel)]="player.lastname" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Prénom"
        [(ngModel)]="player.firstname" />
    </div>
    <div class="form-group">
        <select [(ngModel)]="player.position">
            <option *ngFor="let position of positions">
                {{ position }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <input type="number" placeholder="age"
        [(ngModel)]="player.age" />
    </div>
    <div class="form-group">
        <button
            class="btn btn-sm mr-2"
            [ngClass]="{'btn-secondary': editMode, 'btn-primary': !editMode}"
            (click)="save()"
            [innerText]="editMode ? 'Modifier' : 'Ajouter'"
        ></button>
        <button
            class="btn btn-sm btn-warning"
            (click)="initPlayer()"
        >Effacer</button>
    </div>
</div>